## List comprehension

리스트에 조건문과 반복문을 넣는 방식으로 리스트를 초기화 하는 방식

In [1]:
list_comp = [i for i in range(20) if i % 2 == 1]
list_comp

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [2]:
list_comp2 = [i*i for i in range(1,10)]
list_comp3 = [i**2 for i in range(1,10)]
print(list_comp2)
print(list_comp3)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
n = 3
m = 4
list_comp = [[0]*m for _ in range(n)]
print([0]*m)
print(list_comp)
print(len(list_comp))
print(list_comp[0])

[0, 0, 0, 0]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
3
[0, 0, 0, 0]

In [4]:
list_comp[0][1] = 5
list_comp

[[0, 5, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

#### 잘못된 리스트 초기화 방법

In [5]:
n = 3
m = 4
list_not = [[0]*m]*n
print(list_not)
print(len(list_not))

list_not[0][1]=5 # 잘못된 방향으로 바뀜 
print(list_not)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
3
[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

내부의 리스트를 모두 동일한 객체에 대한 레퍼런스로 인식해서 위와 같은 결과 발생

## 리스트 관련 방법들

In [6]:
a = [1,2,3,4]
print('basic_list:',a)

basic_list: [1, 2, 3, 4]

In [7]:
a.append(2)
print('plus:',a)

plus: [1, 2, 3, 4, 2]

In [8]:
a.sort()
print('오름차순:',a)

오름차순: [1, 2, 2, 3, 4]

In [9]:
a.sort(reverse=True)
print('내림차순:',a)

내림차순: [4, 3, 2, 2, 1]

In [10]:
a.reverse()
print('리버스:',a)

리버스: [1, 2, 2, 3, 4]

In [11]:
a.insert(1,5)
print('인덱스 1에 5 추가:',a)

인덱스 1에 5 추가: [1, 5, 2, 2, 3, 4]

In [12]:
print('값이 2인 데이터 개수:',a.count(2))

값이 2인 데이터 개수: 2

In [13]:
a.remove(2)
print('값이 2인 데이터 하나씩 제거:',a)
a.remove(2)
print('값이 2인 데이터 하나씩 제거:',a)

값이 2인 데이터 하나씩 제거: [1, 5, 2, 3, 4]
값이 2인 데이터 하나씩 제거: [1, 5, 3, 4]

In [14]:
# 특정한 값의 원소 모두 한번에 제거하는 방법
a = [1,2,3,4,5,6,7,8,4,5]
remove_set = {4,5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 3, 6, 7, 8]

## 문자열 자료형

In [15]:
data = "Don't you know \"Python\"?"
print(data)

Don't you know "Python"?

In [16]:
a = 'Lee'
b = 'Kim'
print(a +" " + b)
print(a*3)
print(a[0:2])

Lee Kim
LeeLeeLee
Le

## 튜플 자료형

튜플은 한 번 선언된 값 변경 불가능

In [17]:
a = (1,2,3,4)
print(a)

a[2] = 7

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

## 사전 자료형

In [18]:
data = dict()
data['사과'] = 'apple'
data['바나나'] = 'banana'

key_list = data.keys()
value_list = data.values()
print(key_list)
print(value_list)

for key in key_list:
    print(data[key])

dict_keys(['사과', '바나나'])
dict_values(['apple', 'banana'])
apple
banana

## 집합 자료형

In [19]:
data = set([1,2,3,4,4,5,5])
print(data)
data2 = {1,2,3,4,4,5}
print(data2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [20]:
a = set([1,2,3,4,5])
b = set([3,4,5,6,7])
print(a|b) # 합집합
print(a&b) # 교집합
print(a-b) # 차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [21]:
data = set([1,2,3,4,5])
data.add(10)
print(data)
data.update([15,16])
print(data)
data.remove(3)
print(data)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10, 15, 16}
{1, 2, 4, 5, 10, 15, 16}

## 조건문

In [22]:
a = [1,2,3,4,5]
remove_set1={3,5}
remove_set2={4}

remove1 = []
remove2 = []
result = []

for i in a:
    if i in remove_set1 :
        remove1.append(i)
    elif i in remove_set2 :
        remove2.append(i)
    else : 
        result.append(i)

print(remove1)
print(remove2)
print(result)

[3, 5]
[4]
[1, 2]

## 반복문

In [23]:
i = 1
result = 0

while i<=9:
    result += i
    i += 1 
print(result)

45

In [24]:
result = 0
for i in range(1,10):
    result += i
print(result)

45

## 입출력

In [25]:
# 데이터를 공백으로 구분하여 입력
data = list(map(int,input().split()))

1 2 3 4 5

In [26]:
print(data)

[1, 2, 3, 4, 5]

In [27]:
n,m,k = map(int,input().split())

3 4 5

In [28]:
print(n,m,k)

3 4 5

In [29]:
# 입력 개수가 많은 경우
# jupyter에서는 입력이 안된다고 함.

import sys
sys.stdin.readline().rstrip()

''

In [30]:
data = map(int,sys.stdin.readline().split())

In [31]:
# 출력
result = 7
print('정답은 '+result+'입니다.')

TypeError: can only concatenate str (not "int") to str

In [32]:
print('정답은 '+str(result)+'입니다.')
print('정답은 ',result,'입니다.')
print(f'정답은 {result}입니다.')

정답은 7입니다.
정답은  7 입니다.
정답은 7입니다.

## 주요 라이브버리의 문법

### 1) 내장함수

In [33]:
a = [1,2,3,4,5,6,7,8,9,10]

result1 = sum(a)
result2 = min(a)
result3 = max(a)

print(result1,result2,result3)

55 1 10

In [34]:
# 문자열로 들어온 수식 결과를 반환해줌
result = eval("(3+5)*7")
print(result)

56

In [35]:
print(sorted([10,1,5,6,7]))
print(sorted([10,1,5,6,7],reverse=True))

[1, 5, 6, 7, 10]
[10, 7, 6, 5, 1]

In [36]:
result = sorted([('lee',20),('kim',30),('park',40)],key = lambda x: x[1])
print(result)

[('lee', 20), ('kim', 30), ('park', 40)]

In [37]:
result2 = sorted([('lee',20),('kim',30),('park',40)],key = lambda x: x[0])
print(result2)

[('kim', 30), ('lee', 20), ('park', 40)]

In [38]:
data = [5,4,3,2,1]
data.sort()
print(data)

[1, 2, 3, 4, 5]

### 2) itertools

In [39]:
from itertools import permutations

# 순열
data = ['A','B','C']
result = list(permutations(data,3))
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [40]:
from itertools import combinations

# 조합
data = ['A','B','C']
result = list(combinations(data,2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [41]:
from itertools import product

# 중복 가능한 순열
data = ['A','B','C']
result = list(product(data,repeat=2)) 
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [42]:
from itertools import combinations_with_replacement

# 중복 가능한 조합
data = ['A','B','C']
result = list(combinations_with_replacement(data,2)) 
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

### 3) heapq

우선순위 큐: 들어간 순서에 상관없이 우선순위가 높은 데이터가 먼저 나오는 것 <br>
파이썬은 최소 힙으로 구성 되므로, 작은 원소가 우선 순위가 높다.

In [43]:
import heapq

def heapsort(iterable):
    h = []
    result = []
    
    # 모든 원소를 차례대로 힙에 삽입
    for value in iterable:
        heapq.heappush(h,value)
    
    # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
    for _ in range(len(h)):
        result.append(heapq.heappop(h))
    return result

result = heapsort([1,2,3,5,7,6,8,4])
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
# 최대 힙 알고리즘 

def heapsort_max(iterable):
    h = []
    result = []
    
    for value in iterable:
        heapq.heappush(h,-value)
        
    for _ in range(len(h)):
        result.append(-heapq.heappop(h))
    return result

result = heapsort_max([1,2,3,5,7,6,8,4])
print(result)

[8, 7, 6, 5, 4, 3, 2, 1]

## bisect

bisect는 정렬된 배열에서 특정한 원소를 찾아야할 때 매우 효과적으로 사용된다.

- bisect_left(a,x) : 정렬된 순서를 유지하면서 리스트 a에 데이터 x를 삽입할 가장 왼쪽 인덱스를 찾는 메서드 <br>
- bisect_right(a,x) : 정렬된 순서를 유지하면서 리스트 a에 데이터 x를 삽입할 가장 오른쪽 인덱스를 찾는 메서드

In [45]:
from bisect import bisect_left, bisect_right

a = [1,2,4,4,8]
x = 4

print(bisect_left(a,x))
print(bisect_right(a,x))

2
4

In [46]:
# 특정 범위에 속하는 원소의 개수 구할 때 효과적으로 사용됨
def count_by_range(a,left_value,right_value):
    right_index = bisect_right(a,right_value)
    left_index = bisect_left(a,left_value)
    return right_index - left_index

a = [1,2,3,3,3,3,4,4,8,9]

# [3,4] 범위 데이터 개수 출력
print(count_by_range(a,3,4))

6

## collections

In [47]:
from collections import deque

data = deque([2,3,4])
data.appendleft(1)
data.append(5)

print(data)
print(list(data))

deque([1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]

In [48]:
data.pop() # 가장 뒤쪽 원소 기준
print(data)
data.popleft() 
print(data)

deque([1, 2, 3, 4])
deque([2, 3, 4])

In [49]:
# 등장 횟수
from collections import Counter

counter = Counter(['A','A','A','B','B','C'])

print(counter['A'])
print(dict(counter))

3
{'A': 3, 'B': 2, 'C': 1}

## math

In [50]:
import math

print(math.factorial(5))
print(math.sqrt(7))
print(math.gcd(35,14)) #최대 공약수
print(math.pi)
print(math.e)

120
2.6457513110645907
7
3.141592653589793
2.718281828459045